body {font-family:Arial, FreeSans;margin:0;padding:0;}

h1 {font-size:32px}
h2 {margin-top:0;margin-bottom:0;font-size:25px;padding-top:0;padding-bottom:0}

#container .title {text-align:center;margin-bottom:5px;padding-bottom:0;}
.subtitle {font-size:22px;color:#9a9a9a;text-align:center;margin:0 auto;display:block;}
.clear {clear:both}
.center {margin-left:auto;margin-right:auto;}

#container {background: url(./img/plain-background.png) top center no-repeat;width:100%;min-height:1000px;}
.container-virtual-applicances#container {background: url(./img/plain-background.png) top center no-repeat;width:100%;min-height:1000px;background-position:center -190px}

#header {background:#fff;height:75px;width:100%;}

#map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


