body {font-family:Arial, FreeSans;margin:0;padding:0;}

h1 {font-size:32px}
h2 {margin-top:0;margin-bottom:0;font-size:25px;padding-top:0;padding-bottom:0}



#header {background:#fff;height:75px;width:100%;}



